---
import '../styles/global.css';
import {readFileSync, statSync} from 'fs';
import {load} from 'js-yaml';
import {join} from 'path';
import type {Resume} from '../types';
import AreaHeading from '../components/AreaHeading.astro';
import ExperienceItem from '../components/ExperienceItem.astro';
import ProjectItem from '../components/ProjectItem.astro';
import LinkedInIcon from '../components/LinkedInIcon.astro';
import PhoneDots from '../components/PhoneDots.astro';

const resumePath = join(process.cwd(), 'content', 'resume.yaml');
const resumeYaml = readFileSync(resumePath, 'utf8');
const resume = load(resumeYaml) as Resume;

// Get last modified date of resume.yaml
const stats = statSync(resumePath);
const lastModified = new Date(stats.mtime);
const formattedDate = lastModified.toLocaleDateString('en-US', {
  month: 'long',
  year: 'numeric',
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="generator" content={Astro.generator} />
    <title>{resume.personal.name} - Resume</title>
    <link rel="alternate" type="text/markdown" href="/resume.md" />
    <link rel="alternate" type="application/pdf" href="/resume.pdf" />
  </head>
  <body
    class="max-w-[var(--resume-max-width)] mx-auto px-4 sm:px-8 py-4 sm:py-6 text-slate-900 dark:text-stone-300 dark:bg-stone-950 lg:border-x lg:border-dashed lg:border-slate-300 dark:lg:border-stone-800"
  >
    <main class="flex flex-col gap-4 sm:gap-6">
      <header class="flex justify-between items-start md:items-center gap-3">
        <div>
          <h1 class="text-2xl md:text-3xl font-bold">{resume.personal.name}</h1>
          <p class="text-base md:text-lg font-light">{resume.personal.title}</p>
        </div>
        <div class="flex flex-col items-end gap-1 text-xs md:text-sm">
          <ul class="flex flex-col md:flex-row items-end md:items-center gap-1 md:gap-2">
            <li class="flex items-center gap-1.5 md:gap-2 after:hidden md:after:inline after:content-['—'] after:text-slate-600 dark:after:text-stone-400">
              <a
                href={resume.personal.linkedin}
                class="block icon-link"
                aria-label="View LinkedIn profile"
              >
                <LinkedInIcon />
              </a>
            </li>
            <li class="flex items-center gap-1.5 md:gap-2 after:hidden md:after:inline after:content-['—'] after:text-slate-600 dark:after:text-stone-400">
              <a href={resume.personal.website} class="text-slate-900 dark:text-stone-300 underline"
                >{resume.personal.website.replace('https://', '')}</a
              >
            </li>
            <li class="flex items-center gap-1.5 md:gap-2">
              <a href={`mailto:${resume.personal.email}`} class="text-slate-900 dark:text-stone-300 underline"
                >{resume.personal.email}</a
              >
            </li>
          </ul>
          {
            resume.personal.phoneLastFour && (
              <span class="hidden md:flex text-slate-900 dark:text-stone-300 text-xs md:text-sm gap-0.5 items-center">
                <span class="flex items-center gap-0.5 text-slate-600 dark:text-stone-400">
                  (<PhoneDots />)-<PhoneDots />-
                </span>
                <span class="tabular-nums">{resume.personal.phoneLastFour}</span>
              </span>
            )
          }
        </div>
      </header>

      <section
        class="flex flex-col sm:flex-row gap-3 sm:gap-4 sm:justify-between sm:border-y sm:border-slate-100 dark:sm:border-stone-900 sm:-mx-8 sm:px-8"
      >
        {
          resume.skills.map((skillGroup, index) => (
            <>
              <article class="flex flex-col gap-2 sm:py-4">
                <AreaHeading>{skillGroup.category}</AreaHeading>
                <ul
                  class="text-xs md:grid md:gap-x-8 md:gap-y-0.5"
                  style={`grid-template-columns: repeat(${index === 1 ? 3 : 2}, max-content);`}
                >
                  {skillGroup.items.map((item, itemIndex) => (
                    <li class="inline md:block after:content-[',_'] after:md:content-[''] last:after:content-['']">{item}</li>
                  ))}
                </ul>
              </article>
              <div role="presentation" class="hidden sm:block w-px bg-slate-100 dark:bg-stone-900" />
            </>
          ))
        }
        <article class="flex flex-col gap-2 sm:w-[240px] sm:shrink sm:min-w-max sm:pt-4 sm:pb-5">
          <AreaHeading>Education</AreaHeading>
          <div class="flex flex-row sm:flex-col gap-1 sm:gap-0">
            <p class="text-xs font-bold sm:mb-2">{resume.education.degree}</p>
            <p class="text-xs">{resume.education.institution}</p>
            <p class="text-xs text-slate-500 dark:text-stone-400">
              {new Date(resume.education.dates.start).getFullYear()} – {
                resume.education.dates.end
                  ? new Date(resume.education.dates.end).getFullYear()
                  : 'Present'
              }
            </p>
          </div>
        </article>
      </section>

      <section class="flex flex-col gap-2">
        <AreaHeading>Experiences</AreaHeading>

        <ol class="flex flex-col gap-4">
          {
            resume.experience.map(job => (
              <li>
                <ExperienceItem experience={job} />
              </li>
            ))
          }
        </ol>
      </section>

      <section class="flex flex-col gap-4">
        <AreaHeading>Personal Highlights</AreaHeading>

        {resume.projects.map(project => <ProjectItem project={project} />)}
      </section>
    </main>

    <footer
      class="mt-4 -mx-4 sm:-mx-8 -mb-4 sm:-mb-6 bg-slate-50 dark:bg-stone-900 py-3 px-4 sm:px-8 text-xs text-slate-500 dark:text-stone-400 flex items-center justify-between"
    >
      <a href="https://github.com/evanpurkhiser/resume" class="hover:underline">
        Resume Source
      </a>
      <span>resume.evanpurkhiser.com – {formattedDate}</span>
    </footer>
  </body>
</html>
