---
import '../styles/global.css';
import {readFileSync, statSync} from 'fs';
import {load} from 'js-yaml';
import {join} from 'path';
import type {Resume} from '../types';
import AreaHeading from '../components/AreaHeading.astro';
import ExperienceItem from '../components/ExperienceItem.astro';
import ProjectItem from '../components/ProjectItem.astro';
import LinkedInIcon from '../components/LinkedInIcon.astro';

const resumePath = join(process.cwd(), 'content', 'resume.yaml');
const resumeYaml = readFileSync(resumePath, 'utf8');
const resume = load(resumeYaml) as Resume;

// Get last modified date of resume.yaml
const stats = statSync(resumePath);
const lastModified = new Date(stats.mtime);
const formattedDate = lastModified.toLocaleDateString('en-US', {
  month: 'long',
  year: 'numeric',
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{resume.personal.name} - Resume</title>
    <link rel="alternate" type="text/markdown" href="/resume.md" />
    <link rel="alternate" type="application/pdf" href="/resume.pdf" />
  </head>
  <body
    class="max-w-[8.5in] mx-auto px-8 py-6 text-gray-900 border-l border-r border-dashed border-gray-300"
  >
    <main class="flex flex-col gap-6">
      <header class="flex justify-between items-center">
        <div>
          <h1 class="text-3xl font-bold">{resume.personal.name}</h1>
          <p class="text-lg font-light">{resume.personal.title}</p>
        </div>
        <div class="flex flex-col items-end gap-1 text-sm">
          <ul class="flex items-center gap-2">
            <li class="flex items-center gap-2 after:content-['—'] after:text-gray-600">
              <a
                href={resume.personal.linkedin}
                class="block"
                aria-label="View LinkedIn profile"
              >
                <LinkedInIcon />
              </a>
            </li>
            <li class="flex items-center gap-2 after:content-['—'] after:text-gray-600">
              <a href={resume.personal.website} class="text-gray-900 underline"
                >{resume.personal.website.replace('https://', '')}</a
              >
            </li>
            <li class="flex items-center gap-2">
              <a href={`mailto:${resume.personal.email}`} class="text-gray-900 underline"
                >{resume.personal.email}</a
              >
            </li>
          </ul>
          {
            resume.personal.phoneLastFour && (
              <span class="text-gray-900 text-sm flex gap-0.5 items-center">
                <span class="text-sm text-gray-600">∗∗∗</span>
                <span>-</span>
                <span class="text-sm text-gray-600">∗∗∗</span>
                <span>-</span>
                <span class="tabular-nums">{resume.personal.phoneLastFour}</span>
              </span>
            )
          }
        </div>
      </header>

      <section
        class="flex flex-row gap-4 justify-between relative before:content-[''] before:absolute before:top-0 before:left-1/2 before:-translate-x-1/2 before:w-[8.5in] before:h-px before:bg-gray-100 after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:w-[8.5in] after:h-px after:bg-gray-100"
      >
        {
          resume.skills.map((skillGroup, index) => (
            <>
              <article class="flex flex-col gap-2 mt-4 mb-5">
                <AreaHeading>{skillGroup.category}</AreaHeading>
                <ul
                  class="grid gap-x-8 gap-y-0.5"
                  style={`grid-template-columns: repeat(${index === 1 ? 3 : 2}, max-content);`}
                >
                  {skillGroup.items.map(item => (
                    <li class="text-xs">{item}</li>
                  ))}
                </ul>
              </article>
              <div role="presentation" class="w-px bg-gray-100" />
            </>
          ))
        }
        <article class="flex flex-col gap-2 w-[240px] shrink min-w-max mt-4 mb-5">
          <AreaHeading>Education</AreaHeading>
          <div class="flex flex-col">
            <p class="text-xs font-bold mb-2">{resume.education.degree}</p>
            <p class="text-xs">{resume.education.institution}</p>
            <p class="text-xs text-gray-500">
              {new Date(resume.education.dates.start).getFullYear()} – {
                resume.education.dates.end
                  ? new Date(resume.education.dates.end).getFullYear()
                  : 'Present'
              }
            </p>
          </div>
        </article>
      </section>

      <section class="flex flex-col gap-2">
        <AreaHeading>Experiences</AreaHeading>

        <ol class="flex flex-col gap-4">
          {
            resume.experience.map(job => (
              <li>
                <ExperienceItem experience={job} />
              </li>
            ))
          }
        </ol>
      </section>

      <section class="flex flex-col gap-4">
        <AreaHeading>Personal Highlights</AreaHeading>

        {resume.projects.map(project => <ProjectItem project={project} />)}
      </section>
    </main>

    <footer
      class="mt-4 -mx-8 -mb-8 bg-gray-50 py-3 px-8 text-xs text-gray-500 flex items-center justify-between"
    >
      <a href="https://github.com/evanpurkhiser/resume" class="hover:underline">
        Resume Source
      </a>
      <span>resume.evanpurkhiser.com – {formattedDate}</span>
    </footer>
  </body>
</html>
