---
import type {Project} from '../types';
import ItemCard from './ItemCard.astro';

interface Props {
  project: Project;
}

const {project} = Astro.props;
---

<ItemCard title={project.name}>
  <div slot="trailing" class="flex items-baseline gap-4 sm:gap-6">
    {
      project.website && (
        <a href={project.website} class="text-xs sm:text-sm text-gray-600 hover:underline whitespace-nowrap">
          {project.website}
        </a>
      )
    }
    {
      project.links &&
        project.links.map(link => (
          <a href={link.url} class="text-xs sm:text-sm text-gray-600 hover:underline github-link whitespace-nowrap">
            {link.name}
          </a>
        ))
    }
  </div>
  <p class="prose-text">{project.description}</p>
</ItemCard>
